.Monitoring {
    position: absolute;
    width: 410px;
    height: calc(100% - 2px);
    background-color: rgba(5,41,67, 0.9);
    display: flex;
    top: 2px;
    right: 0;
    // top: 2px;
    flex-direction: column;
    .Monitoring_top {
        height: 40px;
        padding-left: 15px;
        background-color: #214d6a;
        line-height: 40px;
        border-left: 2px solid #00FFFF;
    }
    .ckeckRanking_top {
        height: 30px;
        border: 1px solid #154d66;
        border-top: none;
        span {
            float: left;
            width: 90px;
            text-align: center;
            cursor: pointer;
            line-height: 30px;
        }
    }
    .Monitoring_box {
        flex: 1;
        min-height: 240px;
        overflow-y: auto;
        border:1px solid rgba(7, 165, 186, 0.7);
        border-top: none;
        li {
            height: 50px;
            // padding: 0 20px 0 30px;
            padding-right: 30px;
            display: flex;
            align-items: center;
            .circulars {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #02B7BC;
                margin: 0 20px;
            }
            .ItemList{
                display: inline-block;
                width:280px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 30px;
            }
            .arrows {
                width: 20px;
                height: 20px;
                background-color: red;
            }
        }
    }
    .Monitoring_scheme {
        height: 240px;
        overflow: hidden;
        border:1px solid rgba(7, 165, 186, 0.7);
        margin: 5px 0;
        li {
            height: 40px;
            padding-left: 15px;
            background-color: #214d6a;
            line-height: 40px;
            border-left: 2px solid #00FFFF;
        }
    }
    .Monitoring_evaluate {
        height: 240px;
        overflow: hidden;
        border:1px solid rgba(7, 165, 186, 0.7);
        li {
            height: 40px;
            padding-left: 15px;
            background-color: #214d6a;
            line-height: 40px;
            border-left: 2px solid #00FFFF;
        }
    }
    .actives {
        color: #03fefe;
        border-bottom: 1px solid #03fefe;
    }
}
