$bor_color: #27343b;
.InterworkingHomeBox {
  width: 100%;
  height: 100%;
  // background-color: #021035;
  background: url(../../images/coroBg.png) center center no-repeat;
  background-size: cover; 
  .Interwork_left {
    width: 250px;
    height: calc(100% - 62px);
    border-right: 1px solid $bor_color;
    // border-top: 1px solid $bor_color;
    background-color: rgba(33, 77, 106, 0.9);
    position: absolute;
    bottom: 0;
    .InterworkLeft_search {
      border-top: 1px solid $bor_color;
      border-bottom: 1px solid $bor_color;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .InterworkLeft_Title {
      color: #03fefe;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      padding-left: 10px;
      border-left: 2px solid #03fefe;
      background-color: #14364F;
      span{
        cursor: pointer;
      }
    }
  }
  .Interwork_right {
    position: absolute;
    bottom: 0;
    left: 250px;
    height: calc(100% - 62px);
    width: calc(100% - 250px);
  }
}
.Interwork_left {
  :global(.ant-input) {
    color: #fff;
    background-color: #1b2d2f;
    border: none;
    outline: none;
  }
  .InterworkLeft_search {
    :global(path) {
      color: white;
    }
  }
}
