.treeWrapper {
    font-size: 15px;
    .treeList {
        margin: 10px 0 0 10px;
        li {
            margin: 0 0 0 15px;
            padding: 5px 0;
            list-style: none;
            outline: 0;
        }
        .treeLi {
            width: 224px;
            position: relative;
            white-space: nowrap;
            &:last-child::before {
                height: 0;
            }
            .treeNode {
                display: inline-block;
                width: 203px;
                height: 100%;
                padding-right: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .treeIcon {
                width: 24px;
                height: 24px;
                position: absolute;
                right: 30px;
                margin: 0;
                line-height: 24px;
                text-align: center;
                vertical-align: top;
                border: 0 none;
                outline: none;
                font-size: 12px;
                color: #fff;
                cursor: pointer;
            }
            .childTree {
                margin: 0;
                transition: height ease 0.2s;
                overflow: hidden;
                .childLi {
                    position: relative;
                    font-size: 14px;
                    &:first-child {
                        margin-top: 7px;
                    }
                }
                .childIcon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    line-height: 24px;
                    text-align: center;
                    vertical-align: top;
                    border: 0 none;
                    outline: none;
                    font-size: 20px;
                    color: #15aee5;
                    cursor: pointer;
                }
                .childNode {
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 80%;
                    height: 24px;
                    margin: 0;
                    padding: 0 5px 0 15px;
                    color: #f1f1fb;
                    line-height: 24px;
                    text-decoration: none;
                    vertical-align: top;
                    border-radius: 2px;
                    cursor: pointer;
                    transition: all 0.3s;
                }
            }
        }
    }
}
.treeWrapper {
    :global(.ant-tree-switcher_open .ant-tree-switcher-icon) {
        font-size: 24px !important;
    }
    :global(.ant-tree-switcher_close .ant-tree-switcher-icon) {
        font-size: 24px !important;
    }
    :global(.ant-tree.ant-tree-show-line li span.ant-tree-switcher) {
        background-color: transparent;
        color: #15aee5;
    }
    :global(.active){
        color: #15AEE5!important;
    }
}
