.GpsMap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    padding: 5px;
    z-index: 2;
    background: #052943;
    .listhead {
        color: #37e2ea;
        height: 40px;
        padding-left: 15px;
        background-color: #214d6a;
        line-height: 40px;
        cursor: pointer;
        border-left: 2px solid #00ffff;
    }
    .GpsMapLeft {
        width: 200px;
        height: 100%;
        border: 1px solid rgba(7, 165, 186, 0.7);
        background-color: #133146;
        .listBox {
            flex: 1;
            min-height: 720px;
            overflow-y: auto;
            li {
                height: 45px;
                line-height: 45px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
    .GpsMapCenter {
        flex: 1;
        margin: 0 5px;
        border: 1px solid rgba(7, 165, 186, 0.7);
        display: flex;
        flex-direction: column;
        .GpsMapCenterMap {
            flex: 1;
            display: flex;
            flex-direction: column;
            .GpsMapCenterMapBox {
                // background: url("./img/bac.png") no-repeat;
                // background-size: 100% 100%;
                flex: 1;
                position: relative;
            }
        }
        .GpsMapCenterTime {
            height: 235px;
            .listBox {
                padding-left: 20px;
                height: 195px;
                .equipmentStatus,
                .programme,
                .controlStatus {
                    height: 25px;
                    line-height: 25px;
                    span {
                        color: #08b532;
                    }
                }
                .timeInterval {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    .timeIntervalBox {
                        width: 35px;
                        height: 35px;
                        margin: 0 5px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .programmeTime {
                    width: 100%;
                    height: 40px;
                    padding-right: 20px;
                    margin-top: 15px;
                    .programmeTimeBox {
                        // height: 100%;
                        // background-color: yellow;
                        .AnimationTime {
                            // margin-left: -500px;
                            padding: 0 20px;
                            background-color: #0e3355;
                            display: flex;
                            align-items: center;
                            .palnRunBox {
                                position: relative;
                                width: 100%;
                                height: 40px;
                                display: flex;
                                .runStage {
                                    z-index: 5;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    border-right: 2px solid black;
                                    .stageInner {
                                        position: absolute;
                                        right: -4px;
                                        top: -10px;
                                        width: 6px;
                                        height: 10px;
                                        background-color: black;
                                    }
                                }
                                .planRunStage {
                                    color: black;
                                    position: relative;
                                    height: 100%;
                                    display: flex;
                                    .stageMsg {
                                        position: absolute;
                                        left: 10px;
                                        top: 10px;
                                        font-size: 13px;
                                        font-weight: bold;
                                        color: black;
                                    }
                                    .greenStage {
                                        text-align: right;
                                        background-color: #008001;
                                    }
                                    .redStage {
                                        text-align: right;
                                        background-color: #ff0000;
                                    }
                                    .yellowStage {
                                        text-align: right;
                                        background-color: #ffff01;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .GpsMapRight {
        width: 410px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .GpsMapEcharts {
            flex: 1;
            background-color: #133146;
            border: 1px solid rgba(7, 165, 186, 0.7);
            margin-bottom: 5px;
        }
    }
    .actives {
        color: #16f9e8;
        font-weight: bold!important;
        text-decoration: underline;
    }
}
